.bg-custom-red {
  background-color: rgba(243, 45, 58, .57);
}
.bg-choice-red {
  background-color: rgba(243, 45, 58, .75);
}
.custom-width {
  width: 150px;
}
.custom-padding {
  padding-top: 150px;
  padding-bottom: 120px;
}






 













